{% include 'header.html' %}

	<section id="banner">
		<div class="content">
			<p>#Raça #Querer #Ambição</p>
		</div>
	</section>

	<section id="one" class="wrapper">
		<div class="inner flex flex-3">
			<div class="flex-item left">
				<div>
					<h3>
						<a href="#historia">Historia</a>
					</h3>
					<p>Informacoes sobre a sede do Grupo Desportivo de Penela e contactos</p>
				</div>
				<div>
					<h3><a href="/sede">Sede</a></h3>
					<p>Informacoes sobre a sede do Grupo Desportivo de Penela</p>
				</div>
			</div>
			<div class="flex-item image fit round">
				<img src="static/images/PenelaEmblema.jpg" alt="" />
			</div>
			<div class="flex-item right">
				<div>
					<h3><a href="/direcao">Direcao</a></h3>
					<p>Atual direccao do Grupo Desportivo de Penela<br/></p>
				</div>
				<div>
					<h3>
						<a href="#palmares">Palmares</a>
					</h3>
					<p>Calendario desportivo da epoca 2019/2020 de forma a acompanhar todos os jogos</p>
				</div>
			</div>
		</div>

	</section>

	{% include 'sponsors.html' %}
	{% include 'footer.html' %}
