{% include 'header.html' %}

	<section id="banner">
		<div class="content">
			<p>#Raça #Querer #Ambição</p>
		</div>
	</section>

	<section id="one" class="wrapper">
		<div class="inner flex flex-3">
			<div class="center left">
				<div>
					<h3>
						<a href="/eqTecnica">Equipa Tecnica</a>
					</h3>
				</div>

			</div>
			<div class="flex-item image fit round">
				<img src="static/images/PenelaEmblema.jpg" alt="" />
			</div>
			<div class="center right">
				<div>
					<h3><a href="/plantel">Plantel 2023/2024</a></h3>
				</div>

			</div>
		</div>

	</section>

	{% include 'sponsors.html' %}
	{% include 'footer.html' %}
