{% include 'header.html' %}

<section>
    <div class="container mt-5">
      <div class="row">
          <div class="col-sm-12">
            <h2 class="players-section-title">Treinador Principal</h2>
          </div>
          <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <figure>
                  <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
                    <figcaption>
                        <div class="player-name">
                            <p class="first-name">Carlos</p>
                        </div>
                    </figcaption>
                  </figure>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="col-sm-12">
            <h2 class="players-section-title">Treinador Adjunto</h2>
          </div>
          <div class="col-sm-4">
            <figure>
                <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
                <figcaption>
                        <div class="player-name">
                            <p class="first-name">Nuno Martins</p>
                        </div>
                </figcaption>
            </figure>
          </div>
          <div class="col-sm-12">
            <h2 class="players-section-title">Treinador Guarda-Redes</h2>
          </div>
          <div class="col-sm-4">
            <figure>
                <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
                <figcaption>
                        <div class="player-name">
                            <p class="first-name">Nelson BasDost</p>
                        </div>
                </figcaption>
            </figure>
          </div>
    </div>
</section>
<section>
    <div class="center">
        <button onclick="history.back()">Go Back</button>
    </div>
</section>

{% include 'footer.html' %}