{% include 'header.html' %}

	<section id="banner">
		<div class="content">
			<p>#Raça #Querer #Ambição</p>
		</div>
	</section>

	<section id="one" class="wrapper">
		<div class="inner flex flex-3">
			<div class="flex-item left">
				<div>
					<h3><a href="/sede">Sede</a></h3>
					<p>Informacoes sobre a sede do Grupo Desportivo de Penela e contactos</p>
				</div>
				<div>
					<h3><a href="/sede">Direcao e Palmares</a></h3>
					<p>Informacoes sobre a sede do Grupo Desportivo de Penela e contactos</p>
				</div>
			</div>
			<div class="flex-item image fit round">
				<img src="static/images/PenelaEmblema.jpg" alt="" />
			</div>
			<div class="flex-item right">
				<div>
					<h3><a href="/plantel">Plantel 2023/2024</a></h3>
					<p>Plantel para a época 2023/2024<br/></p>
				</div>
				<div>
					<h3>
						<a href="/calendario">Calendário</a>
					</h3>
					<p>Calendario desportivo da epoca 2019/2020 de forma a acompanhar todos os jogos</p>
				</div>
			</div>
		</div>
	</section>


		{% if data != None %}
	<section id="jogo" class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="title-section-title">PROXIMO JOGO</h2>
					<h3 class="title-section-title">{{data[0]}}</h3>
					<h6 class="title-section-title">Campo de {{data[3]}}<br>09:45</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">

				</div>
				<div class="col-sm-5">
					<figure>
					  <img class="img-fluid" alt="" src="static/images/clubs/new/penela.png">
						<figcaption>
							<div class="player-number">{{data[1]}}</div>
						</figcaption>
					</figure>

				</div>
				<!--
				<div class="col-sm-1 row align-middle">

					<h4 class="text-uppercase">vs</h4>

				</div>
				-->
				<div class="col-sm-5">
					<figure>
					  <img class="img-fluid" alt="" src="static/images/clubs/new/jacares.png">
						<figcaption>
							<div class="player-number">{{data[1]}}</div>
						</figcaption>
					</figure>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>

	</section>
		{% endif %}


	<section id="sponser" class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="title-section-title">PATROCINADORES</h2>
			</div>
        	<div class="col-sm-3">
					<figure>
						<a href="https://www.remax.pt/agente/sergio-rebelo/123001034" rel="noopener noreferrer" class="div sponser-img" target="_blank">
						<img src="static/images/sponsor/SergioRebelo.jpg" width="300" height="150"/>
						</a>
					</figure>
        	</div>
			<div class="col-sm-3">
					<figure>
						<a href="https://www.ecofirma.pt" rel="noopener noreferrer" class="div sponser-img" target="_blank">
						<img src="static/images/sponsor/ecofirmapt.png" width="300" height="150"/>
						</a>
					</figure>
        	</div>
			<div class="col-sm-3">
					<figure>
						<a href="https://www.facebook.com/p/Bombocas-de-Adaúfe-100027756741673/?paipv=0&eav=AfbVRaiw4tMPhWWJXdb31G0h018I6mnj3GawVQBfNV5CiQIXlDW-RrheUAJB8flJft4&_rdr" rel="noopener noreferrer" class="div sponser-img" target="_blank">
						<img src="static/images/sponsor/bombocas.jpg" width="250" height="150"/>
						</a>
					</figure>
        	</div>
		</div>
	</section>

	{% include 'footer.html' %}
