{% include 'header.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
            <h2 class="players-section-title">GUARDA-REDES</h2>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
            <h2 class="players-section-title">DEFESAS</h2>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
            <h2 class="players-section-title">MEDIOS</h2>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
            <h2 class="players-section-title">AVANCADOS</h2>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
        <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
    <div class="col-sm-3">
        <figure>
          <img class="img-fluid" alt="" src="static/images/players/ody.jpg">
            <figcaption>
                <div class="player-number">99</div>
                <div class="player-name">
                    <p class="first-name">André Gomes</p>
                </div>
            </figcaption>
          </figure>
    </div>
  </div>
</div>


{% include 'footer.html' %}