{% include 'header.html' %}

<section id="players-page">
    <h2 class="players-section-title"></h2>
      <div class="row">
        <div class="col-sm-12">
            <h2 class="players-section-title">GUARDA-REDES</h2>
        </div>
        <div class="col-sm-3">
            <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
            <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
            <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-12">
            <h2 class="players-section-title">DEFESAS</h2>
        </div>
        <div class="col-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>

        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>

        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
          <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>

        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>

        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
    </div>
      <div class="row">
        <div class="col-12">
            <h2 class="players-section-title">MEDIOS</h2>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>

        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>

        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
          <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            <div class="offset-2"></div>
        </div>

        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>

        </div>
        <div class="col-sm-3">
                <a href="https://www.slbenfica.pt/pt-pt/futebol/plantel-principal/Gomes-Andre?season=22-23" class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">75</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
    </div>
      <div class="row">
        <div class="col-12">
            <h2 class="players-section-title">AVANCADOS</h2>
        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>

        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>

        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
          <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>

        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>

        </div>
        <div class="col-sm-3">
                <a class="player">
                    <figure>
                        <img class="b-lazy loaded b-loaded" alt="" src="static/images/players/ody.jpg">
                        <figcaption>
                            <div class="player-number">99</div>
                            <div class="player-name">
                                <p class="first-name">André Gomes</p>
                            </div>
                        </figcaption>
                    </figure>
                </a>
        </div>
    </div>
</section>


{% include 'footer.html' %}