{% include 'header.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
            <h2 class="players-section-title">Sede do Grupo Desportivo de Penela</h2>
    </div>
    <div class="col-sm-4">
        <figure>
          <img class="img-fluid" alt="" src="static/images/sede/sede1.jpg">
          </figure>
    </div>
    <div class="col-sm-4">
        <figure>
          <img class="img-fluid" alt="" src="static/images/sede/sede2.jpg">
          </figure>
    </div>
    <div class="col-sm-4">
        <figure>
          <img class="img-fluid" alt="" src="static/images/sede/sede3.jpg">
          </figure>
    </div>
      <article>
          A 4 de Novembro de 2018, foi inaugurada a sede oficial, o primeiro espaço que o clube tem à sua disposição,
                para poder realizar reuniões e concentrar os seus directores, técnicos, jogadores, sócios e adeptos.
                O Grupo Desportivo de Penela tem agora um espaço próprio para poder reunir o seu material de trabalho,
                mas também o nosso palmarés, entre os quais se encontram as taças de Campeão do Campeonato Amador do Vale
                do Cávado das épocas 2017/18 e 2018/19. Esta nova sede, o primeiro espaço próprio que o clube tem, tem como
                objetivo poder realizar as reuniões da direção e juntar num mesmo espaço, diretores, técnicos, jogadores,
                sócios e adeptos.
                Por fim, o Grupo Desportivo de Penela gostaria de agradecer á junta de Freguesia de Adaúfe pela cedência do
                espaço.
      </article>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
        <h2 class="players-section-title">Onde estamos</h2>
        <h3 class="players-section-title">Av. Imac. Conceição 135, 4710-820 Adaúfe, Braga</h3>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src=https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d937.5397085030844!2d-8.404338066453024!3d41.584846375306405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-PT!2spt!4v1686646516117!5m2!1spt-PT!2spt"></iframe>
    </div>
  </div>
</div>


{% include 'footer.html' %}