<section id="sponser" class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="title-section-title">PATROCINADORES</h2>
			</div>
        	<div class="col-sm-3">
				<a class="sponsor">
					<figure>
						<a href="https://www.remax.pt/agente/sergio-rebelo/123001034" rel="noopener noreferrer" class="div sponser-img" target="_blank">
							<img class="img-fluid" alt="" src="static/images/sponsor/SergioRebeloRemax.png">
						</a>
					</figure>
				</a>
        	</div>
			<div class="col-sm-3">
				<a class="sponsor">
					<figure>
						<a href="https://www.ecofirma.pt" rel="noopener noreferrer" class="div sponser-img" target="_blank">
							<img class="img-fluid" alt="" src="static/images/sponsor/ecofirma.png">
						</a>
					</figure>
				</a>
        	</div>
			<div class="col-sm-3">
				<a class="sponsor">
					<figure>
						<a href="https://www.facebook.com/p/Bombocas-de-Adaúfe-100027756741673/?paipv=0&eav=AfbVRaiw4tMPhWWJXdb31G0h018I6mnj3GawVQBfNV5CiQIXlDW-RrheUAJB8flJft4&_rdr" rel="noopener noreferrer" class="div sponser-img" target="_blank">
							<img class="img-fluid" alt="" src="static/images/sponsor/bombocas.png">
						</a>
					</figure>
                </a>
        	</div>
			<div class="col-sm-3">
        	</div>
		</div>
	</section>